@font-face {
    font-family: Integral;
    src: url("./assets/fonts/IntegralCF-Bold.otf");
}
@font-face {
    font-family: Montaga;
    src: url("./assets/fonts/Montaga-Regular.ttf");
}
@font-face {
    font-family: JetBrains;
    src: url("./assets/fonts/JetBrainsMono-Bold.woff2");
}
.font-code{
    font-family: JetBrains;
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6,button:not(.unbtn),.btn:not(.unbtn),.font-I,th,.th{
    font-family: Integral;
    @apply tracking-wider;
}
p,.p,.font-M,input,td,.td{
    font-family: Montaga;
}
