@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .d-center {
    @apply flex items-center justify-center;
  }
  input[type="checkbox"] {
    @apply w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600;
  }
  .text-muted {
    @apply text-gray-700 pointer-events-none;
  }
  select {
    @apply border-4 rounded-xl p-2;
  }
  .bg-transparent-glass-sm {
    @apply bg-transparent backdrop-blur-sm;
  }
  .bg-transparent-glass-md {
    @apply bg-transparent backdrop-blur-md;
  }
  .bg-frosted-glass-sm {
    @apply bg-white/20 backdrop-blur-sm;
  }
  .bg-frosted-glass-md {
    @apply bg-white/20 backdrop-blur-md;
  }
  table,
  .table {
    border: 1px solid #000;
    border-collapse: collapse;
    tr:hover,
    .tr:hover {
      @apply bg-rose-500 !important;
    }
    tr,
    .tr {
      @apply text-white bg-blue-500;
    }
    tr:nth-child(odd),
    .tr:nth-child(odd) {
      @apply bg-gray-500;
    }
    td,
    .td,
    th,
    .th {
      border: 1px solid #000;
    }
  }
  .card {
    background-color: theme("colors.white");
    border-radius: theme("borderRadius.xl");
    padding: theme("spacing.6");
    box-shadow: theme("boxShadow.xl");
  }
  button:disabled,
  .btn:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }
  button:not(.unbtn),
  .btn:not(.unbtn) {
    background-color: theme("colors.rose.500");
    border-radius: theme("borderRadius.xl");
    color: theme("colors.white");
    padding: theme("spacing.2") theme("spacing.5");
    box-shadow: theme("boxShadow.xl");
  }

  .disabled {
    pointer-events: none;
    opacity: 0.6;
    filter: blur(0.5px);
  }
  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="password"],
  textarea {
    background-color: theme("colors.white");
    border: 1px solid theme("colors.gray.300");
    border-radius: theme("borderRadius.md");
    padding: theme("spacing.2");
    box-shadow: theme("boxShadow.md");
    color: theme("colors.gray.800");
    font-size: theme("fontSize.base");
    width: 100%;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .title {
    font-size: theme("fontSize.2xl");
  }
  /* ... */
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root {
}
